.swiper-wraper{
    align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #ff0000; /* Customize the background color */
  color: #ffffff; /* Customize the arrow color */
  width: 40px; /* Customize the width */
  height: 40px; /* Customize the height */
  border-radius: 50%; /* Make the arrows circular */
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 30px;
    font-weight: bold;
}

/* Custom styles for Swiper navigation arrows on hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #333; /* Customize the background color on hover */
}

.swiper-pagination-bullet{
    background-color: #ff0000;
}

@media (max-width: 600px) {
    .swiper{
        width: 300px;
        justify-content: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
    width: 25px; /* Customize the width */
    height: 25px; /* Customize the height */
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 15px;
        font-weight: bold;
    }
  }
